.container {
  grid-area: stories;
  padding: 0 1.6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.stories {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  overflow: auto;
  padding: .5rem;
}