.uploader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.text {
  font-size: 1.6rem;
  font-weight: 600;
}

.uploadedImage {
  width: 100%;
  height: 100%;
}