:root {
  --color-black: #262626;
  --color-blue: #0095F6;
  --color-white: #FFFFFF;
  --color-white-dark: #FAFAFA;
  --color-gray: #8E8E8E;

  --border-color: #DBDBDB;
  --footer-color: #C7C7C7;

  --gradient-1: linear-gradient(180deg, #DE0046 0%, #F7A34B 100%);
  --gradient-2: linear-gradient(180deg, #751BCF 0%, #B62586 49.48%, #EFAC59 100%);
}